NET "clk_in" LOC = T8 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET "r[0]" LOC = K16 | IOSTANDARD = "LVCMOS33";  ##  PIN3
NET "r[1]" LOC = J16 | IOSTANDARD = "LVCMOS33";  ##  PIN4
NET "r[2]" LOC = L16 | IOSTANDARD = "LVCMOS33";  ##  PIN5
NET "r[3]" LOC = K15 | IOSTANDARD = "LVCMOS33";  ##  PIN6
NET "r[4]" LOC = M15 | IOSTANDARD = "LVCMOS33";  ##  PIN7
NET "r[5]" LOC = M16 | IOSTANDARD = "LVCMOS33";  ##  PIN8
NET "r[6]" LOC = P16 | IOSTANDARD = "LVCMOS33";  ##  PIN9
NET "r[7]" LOC = N16 | IOSTANDARD = "LVCMOS33";  ##  PIN10 
NET "g[0]" LOC = R16 | IOSTANDARD = "LVCMOS33";  ##  PIN11
NET "g[1]" LOC = P15 | IOSTANDARD = "LVCMOS33";  ##  PIN12
NET "g[2]" LOC = T15 | IOSTANDARD = "LVCMOS33";  ##  PIN13
NET "g[3]" LOC = R15 | IOSTANDARD = "LVCMOS33";  ##  PIN14
NET "g[4]" LOC = T14 | IOSTANDARD = "LVCMOS33";  ##  PIN15
NET "g[5]" LOC = R14 | IOSTANDARD = "LVCMOS33";  ##  PIN16
NET "g[6]" LOC = R12 | IOSTANDARD = "LVCMOS33";  ##  PIN17
NET "g[7]" LOC = T13 | IOSTANDARD = "LVCMOS33";  ##  PIN18
NET "b[0]" LOC = R9 | IOSTANDARD = "LVCMOS33";  ##  PIN19
NET "b[1]" LOC = T12 | IOSTANDARD = "LVCMOS33";  ##  PIN20
NET "b[2]" LOC = L8 | IOSTANDARD = "LVCMOS33";  ##  PIN21
NET "b[3]" LOC = T9 | IOSTANDARD = "LVCMOS33";  ##  PIN22
NET "b[4]" LOC = R7 | IOSTANDARD = "LVCMOS33";  ##  PIN23
NET "b[5]" LOC = T7 | IOSTANDARD = "LVCMOS33";  ##  PIN24
NET "b[6]" LOC = T5 | IOSTANDARD = "LVCMOS33";  ##  PIN25
NET "b[7]" LOC = T6 | IOSTANDARD = "LVCMOS33";  ##  PIN26

NET "clk_LCD" LOC = T4;
NET "de" LOC = R2;
NET "h_sync" LOC = R5;
NET "v_sync" LOC = R1;
NET "rst" LOC = L3;

NET "key1" LOC = C3 | IOSTANDARD = "LVCMOS33";  ##  KEY1
NET "key2" LOC = D3 | IOSTANDARD = "LVCMOS33";  ##  KEY2

NET "clk_LCD" IOSTANDARD = LVCMOS33;
NET "de" IOSTANDARD = LVCMOS33;
NET "h_sync" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;
NET "v_sync" IOSTANDARD = LVCMOS33;

//PIN "clk_LCD.O" CLOCK_DEDICATED_ROUTE = FALSE;
//PIN "pll_inst/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
